<!DOCTYPE html>
<html lang="en-us">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Slack</title>
  <link rel="stylesheet" href="/stylesheets/stylesheet.css">
</head>
<body>
  <header>
    <div id="logo">Slack</div>
    <div id="sign-in-form">
      <form action="/login" method="post">
        <input class="sign-in" type="text"  name="username" placeholder="Email">
        <input class="sign-in" type="password" name="password" placeholder="Password">
        <input type="submit" id="sign-in-btn" value="Sign in">
      </form>
    </div>
  </header>
  <main>
    <div id="sign-up-form">
      <h1 id="splash">Talk with friends on Slack</h1>
      <form id="sign-up-f" method="post">
        <input class="sign-up" id="username" type="text" required  placeholder="Username"><br>
        <input class="sign-up" id="sign-up-email" type="text" required placeholder="Email"> <br>
        <input class="sign-up" required type="password" placeholder="Password"><br>
        <button id="register-btn">Create Account</button>
      </form>
    </div>
  </main>
  <footer>
  </footer>
</body>
</html>
