<!DOCTYPE html>
<html lang="en-us">
<head>
  <meta charset="utf-8">
  <title>Slack | new room</title>
  <link rel="stylesheet" href="/stylesheets/newRoom.css">
</head>
<body>
  <header>
  </header>
  <main>
    <a href="/board" id="board">Back</a>
    <h1>Create your new chat room</h1>
    <form action="/room/new" method="post">
      <input type="text" placeholder="Name"><br>
      <input type="password" placeholder="Password"><br>
      <input type="text" placeholder="Description"><br>
      <input id="create-room" type="submit" value="Create Room">
    </form>
  </main>
  <footer>
  </footer>
</body>
</html>
