<!DOCTYPE html>
<html lang="en-us">
<head>
  <meta charset="utf-8">
  <title>Slack | new room</title>
  <link rel="stylesheet" href="#">
</head>
<body>
  <header>
  </header>
  <main>
    <form action="/newRoom" method="post">
      Room name: <input type="text" placeholder="Ex. Soccer"><br>
      Room password: <input type="password"><br>
      Room Description: <input type="text" placeholder="Talk about soccer drills."><br>
      <input type="submit" value="Create Room">
    </form>
  </main>
  <footer>
  </footer>
</body>
</html>
