body {
  font-family: sans-serif;
  background-color: #EEF6E7;
  font-size: 16px;
  color: #5b5b5b;
  margin-top: 3%;
  margin-left: 2%;
}
a {
  text-decoration: none;
  font-weight: bold;
}
a:visited{
  text-decoration: none;
}

h1 {
  margin-top: 5%;
  margin-left: 40%;
  color: #5b5b5b;
}
form {
  margin-left: 42%;
}
form input {
  width: 350px;
  height: 45px;
  background-color: #eaeaea;
  border: none;
  padding-left: 3%;
  font-weight: bold;
  font-size: 1em;
  margin-bottom: 5%;
}

#board {
}
#create-room {
  width: 200px;
  height: 45px;
  border: none;
  color: #EEF6E7;
  background-color: #4BC16B;
  font-weight: bold;
  font-size: 20px;
  border-radius: 5px;
  margin-left: 10%;
  text-align: center;
}
